/* Main Hallo Editor Styles */
.halloeditor {
  font-family: Roboto Slab, Georgia, serif;
  padding-top: 4em;
  min-height: 50px;
  overflow: hidden;
  line-height: 1.5em;
}

.halloeditor h1 {
  text-transform: none;
}

.halloeditor h2 {
  text-transform: none;
  display: block;
}

.halloeditor h1 span {
  font-weight: normal;
  color: inherit;
}

.halloeditor *::before,
.halloeditor *::after {
  display: none;
}

.halloeditor ol,
.halloeditor ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

.halloeditor li {
  display: list-item;
}

.halloeditor ul li {
  list-style-type: disc;
}

.halloeditor ol li {
  list-style-type: decimal;
}

.halloeditor h1,
.halloeditor h2,
.halloeditor h3,
.halloeditor h4,
.halloeditor h5,
.halloeditor h6 {
  font-family: inherit;
}

.halloeditor h2 {
  font-size: 2em;
  line-height: 1.2em;
  clear: both;
}

.halloeditor h3 {
  font-size: 1.7em;
  line-height: 1.194em;
}

.halloeditor h4 {
  font-size: 1.5em;
  line-height: 1.267em;
}

.halloeditor h5 {
  font-size: 1.2em;
  line-height: 1.27em;
}

.halloeditor hr {
  border-bottom: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
}

.field-small .halloeditor {
  border-radius: 3px;
  padding: 0.4em 1em;
}

.halloeditor {
  appearance: none;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  font-family: Open Sans, Arial, sans-serif;
  border: 1px solid #e6e6e6;
  padding: 0.9em 1.2em;
  background-color: #fafafa;
  color: #1a1a1a;
  font-size: 1.2em;
  font-weight: 300;
}

.halloeditor:hover {
  background-color: #fff;
}

.halloeditor:focus {
  background-color: var(--color-input-focus);
  border-color: var(--color-input-focus-border);
}

.halloeditor:disabled,
.halloeditor[disabled],
.halloeditor:disabled:hover,
.halloeditor[disabled]:hover {
  background-color: #e6e6e6;
  cursor: not-allowed;
  color: #4d4d4d;
}

/* Icons */
.hallotoolbar [class^='icon-'],
.hallotoolbar [class*=' icon-']:before,
.hallotoolbar [class^='icon-']:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: wagtail;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  text-decoration: none;
  width: 1.3em;
  line-height: 1em;
  text-align: left;
  vertical-align: middle;
  margin-right: 0.2em;
}

.hallotoolbar [class^='icon-']:after,
.hallotoolbar [class^='icon-']:after {
  text-align: right;
}

.hallotoolbar [class^='icon-'],
.hallotoolbar [class*=' icon-']:before,
.hallotoolbar [class*=' icon-']:before,
.hallotoolbar [class^='icon-']:before {
  vertical-align: -10%;
  margin-right: 0;
}

/* Hallo Toolbar */
.hallotoolbar {
  position: absolute;
  z-index: 5;
  margin-top: 4em;
  margin-left: 1.2em;
}

.hallotoolbar.affixed {
  position: fixed;
  margin-top: 0;
}

.hallotoolbar.full {
  margin-left: 20px;
}
@media screen and (min-width: breakpoint-min(sm)) {
  .hallotoolbar.full {
    margin-left: 50px;
  }
}

.hallotoolbar button {
  border-radius: 0;
  height: 2.4em;
}

/* Hallo Embed */
.halloembed {
  position: relative;
}

.halloembed__delete {
  position: absolute;
  display: none;
  right: 0;
  cursor: pointer;
}

.halloembed__delete::before {
  background-color: rgba(255, 255, 255, 0.8);
}

.halloembed__delete:hover::before {
  background-color: #fff;
}

.inEditMode .halloembed__delete {
  display: block;
}

/* 
  These styles correspond to the image formats defined in wagtailimages/formats.py,
  so that images displayed in the rich text field receive more or less the same
  styling that they would receive on the site front-end.

  Wagtail installations that define their own image formats (in a myApp.image_formats module)
  should ideally use the insert_editor_css hook to pass in their own custom CSS to have those
  images render within the rich text area in the same styles that would appear on the front-end.
  close as possible to match line-height space above p
 */

.richtext-image {
  margin-top: 3px;
}

.richtext-image.small {
  max-width: 45%;
}

.richtext-image.left {
  float: left;
  margin-right: 16px;
}

.richtext-image.right {
  float: right;
  margin-left: 16px;
}

/* Page Editor */
.object .halloeditor {
  padding-top: 1em;
  padding-bottom: 1em;
}

.object .halloeditor.expanded {
  padding-top: 5em;
  padding-bottom: 2em;
}

.object.full .halloeditor {
  padding-top: 3em;
  padding-bottom: 3em;
}

.object.full .halloeditor.expanded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.object.full .error .halloeditor {
  background-color: #ffe6e6;
}

.full .halloeditor {
  padding: 1.5em 20px;
  font-size: 1.2em;
  line-height: 1.6em;
}

@media screen and (min-width: breakpoint-min(sm)) {
  .full .halloeditor {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.title .halloeditor {
  font-size: 2em;
  font-family: Roboto Slab, Georgia, serif;
}
@media screen and (min-width: breakpoint-min(sm)) {
  .object.full .halloeditor {
    border-width: 0 1px;
  }
}
